<% provide(:title, "Committee Membership") %>

<h1><%= yield(:title) %></h1>

<h3>International Committee</h3>
<ul>
  <li>Eduardo Alves (Portugal)</li>
  <li>Robert G. Elliman (Australia)</li>
  <li>Jurgen Fassbender (Germany)</li>
  <li>Paulo Fichtner (Brazil)</li>
  <li>Kenji Gamo (Osaka, Japan)</li>
  <li>Frederico Garrido (France)</li>
  <li>Maria-Grazia Grimaldi (Italy)</li>
  <li>Russel Gwilliam (United Kingdom)</li>
  <li>Mike A. Nastasi (USA)</li>
  <li>Kai Nordlund (Finland)</li>
  <li>Sjoerd Roorda (Canada)</li>
  <li>Elke Wendler (Germany)</li>
  <li>Andre Vantomme (Belgium)</li>
  <li>Xi Wang (China)</li>
  <li>William J. Weber (USA)</li>
  <li>Isao Yamada (Japan)</li>
</ul>

<h3>Honorary Members</h3>
<ul>
  <li>H. Bernas (France)</li>
  <li>W. L. Brown (USA)</li>
  <li>J. C. Barbour (USA)</li>
  <li>M. Behar (Brazil)</li>
  <li>G. Carter (UK)</li>
  <li>W. K. Chu (USA)</li>
  <li>J. Davies (Canada)</li>
  <li>N. Gerasimenko (Russia)</li>
  <li>N. Gerasimenko (Russia)</li>
  <li>J. Gyulai (Hungary)</li>
  <li>T. Itoh (Japan)</li>
  <li>T. E. Jackman (Canada)</li>
  <li>O. Meyer (Germany)</li>
  <li>S. Namba (Japan)</li>
  <li>W. Moller (Germany)</li>
  <li>S. T. Picraux (USA)</li>
  <li>A. Polman (The Netherlands)</li>
  <li>F. Priolo (Italy)</li>
  <li>E. Rimini (Italy)</li>
  <li>F. W. Saris (The Netherlands)</li>
  <li>B. Stritzker (German)</li>
  <li>P. D. Townsend (UK)</li>
  <li>V. Vavilov (Russia)</li>
  <li>C. W. White (USA)</li>
  <li>J. S. Williams (Australia)</li>
  <li>S. Zou (China)</li>
</ul>
