<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>IBMM 2018 - 21st INTERNATIONAL CONFERENCE ON ION BEAM MODIFICATION OF MATERIALS</title>

        <meta name="description" content="Official website of IBMM 2018 - The 21st international conference on ion beam modification of materials">
        <meta name="author" content="TLH">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="img/favicon.png">
        <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="img/icon180.png" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="css/main.css">

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="css/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
        <script src="js/vendor/modernizr-respond.min.js"></script>
    </head>
    <body>
        <!-- Page Container -->
        <!-- In the PHP version you can set the following options from inc/config file -->
        <!-- 'boxed' class for a boxed layout -->
        <div id="page-container">
            <!-- Intro -->
            <section class="site-section site-section-light site-section-top">
                <div class="container text-center" style="opacity: 1; color: #ffffff;">
                    <h1 class="animation-slideDown"><strong>21st INTERNATIONAL CONFERENCE ON ION BEAM MODIFICATION OF MATERIALS</strong></h1>
                </div>
                <div class="container text-center">
                    <h3 class="animation-slideDown"><strong>29 JUN – 5 JUL, 2018 SAN ANTONIO, TEXAS, USA</strong></h3>
                </div>
            </section>
            <!-- END Intro -->

            <!-- Product View -->
            <section class="site-content site-section">
                <div class="container">
                    <div class="row">
                        <!-- Sidebar -->
                        <div class="col-md-4 col-lg-3">
                            <aside class="sidebar site-block">
                                <!-- Store Menu -->
                                <!-- Store Menu functionality is initialized in js/app.js -->
                                <div class="sidebar-block">
                                    <ul class="store-menu">
                                        <li><a href="javascript:void(0)">Home</a></li>
                                        <li><a href="javascript:void(0)">Organizers/Committee</a></li>
                                        <li><a href="javascript:void(0)">Plenary Speakers</a></li>
                                        <li><a href="javascript:void(0)">Abstract Submission</a></li>
                                        <li><a href="javascript:void(0)">Publication</a></li>
                                        <li><a href="javascript:void(0)">Registration</a></li>
                                        <li><a href="javascript:void(0)">Conference Venue</a></li>
                                        <li><a href="javascript:void(0)">Hotel Reservation</a></li>
                                        <li><a href="javascript:void(0)">Sponsors</a></li>
                                        <li><a href="javascript:void(0)">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="sidebar-block">
                                  <div class="clearfix">
                                      <span class="h4"><strong class="text-success">About San Antonio</strong><br></span>
                                      <div class="block" style="margin-top: 10px;">
                                        <a href="https://en.wikipedia.org/wiki/San_Antonio">
                                          <img src="img/placeholders/photos/SA_thumbnail.jpg" alt="About San Antonio">
                                        </a>
                                      </div>
                                  </div>
                                </div>
                                <div class="sidebar-block">
                                  <div class="clearfix">
                                      <span class="h4"><strong class="text-success">Conference Venue</strong><br></span>
                                      <div class="block" style="margin-top: 10px;">
                                        <a href="http://www3.hilton.com/en/hotels/texas/hilton-palacio-del-rio-SATPDHF/index.html">
                                          <img src="img/placeholders/photos/venue.jpg" alt="Hilton Palacio del Rio, San Antonio, TX">
                                        </a>
                                      </div>
                                      <h4><b>Hilton Palacio del Rio</b></h4>
                                      <p>Address: 200 S Alamo St, San Antonio, TX 78205<br>
                                         Phone: (210) 222-1400
                                      </p>
                                  </div>
                                </div>
                                <div class="sidebar-block">
                                  <div class="clearfix">
                                      <span class="h4"><strong class="text-success">Nearby Attractions</strong><br></span>
                                      <div class="block" style="margin-top: 10px;">
                                        <a href="http://vacationidea.com/destinations/best-things-to-do-in-san-antonio-tx.html">
                                          <img src="img/placeholders/photos/Alamo.png" alt="Alamo Mission in San Antonio">
                                        </a>
                                      </div>
                                  </div>
                                </div>
                                <!-- END Store Menu -->

                            </aside>
                        </div>
                        <!-- END Sidebar -->

                        <!-- Product Details -->
                        <div class="col-md-8 col-lg-9">
                            <div class="row" data-toggle="lightbox-gallery">

                                <!-- Info -->
                                <div class="push-bit">
                                    <div class="widget">
                                      <div class="">
                                        <div id="widget-carousel4" class="carousel slide remove-margin">
                                          <div class="carousel-inner">
                                            <div class="active item">
                                              <img src="img/placeholders/photos/SA_1.jpg" alt="SA Skyline">
                                            </div>
                                            <div class="item">
                                              <img src="img/placeholders/photos/SA_2.jpg" alt="SA Skyline">
                                            </div>
                                            <div class="item">
                                              <img src="img/placeholders/photos/SA_3.jpg" alt="SA Skyline">
                                            </div>
                                            <div class="item">
                                              <img src="img/placeholders/photos/SA_4.jpg" alt="SA Skyline">
                                            </div>
                                            <div class="item">
                                              <img src="img/placeholders/photos/SA_5.jpg" alt="SA Skyline">
                                            </div>
                                          </div>
                                          <a class="left carousel-control" href="#widget-carousel4" data-slide="prev">
                                            <span><i class="fa fa-chevron-left"></i></span>
                                          </a>
                                          <a class="right carousel-control" href="#widget-carousel4" data-slide="next">
                                            <span><i class="fa fa-chevron-right"></i></span>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                    <br>

                                    <div class="typeform-widget" data-url="https://tuanhoang2.typeform.com/to/RJTyJi" style="width: 100%; height: 500px;" > </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;" > powered by <a href="https://www.typeform.com/examples/?utm_campaign=RJTyJi&amp;utm_source=typeform.com-9570398-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

                                    <div class="row text-center">
                                      <div class="col-sm-6 col-lg-4">
                                        <div class="widget">
                                          <div class="widget-extra themed-background-success">
                                            <h4 class="widget-content-light"><strong>CALL FOR PAPERS</strong></h4>
                                          </div>
                                          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">15/10/2017</span></div>
                                        </div>
                                      </div>
                                      <div class="col-sm-6 col-lg-4">
                                        <div class="widget">
                                          <div class="widget-extra themed-background-success">
                                            <h4 class="widget-content-light"><strong>ABSTRACT SUBMISSION</strong></h4>
                                          </div>
                                          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">15/10/2017</span></div>
                                        </div>
                                      </div>
                                      <div class="col-sm-6 col-lg-4">
                                        <div class="widget">
                                          <div class="widget-extra themed-background-success">
                                            <h4 class="widget-content-light"><strong>REGISTRATION OPENING</strong></h4>
                                          </div>
                                          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">15/10/2017</span></div>
                                        </div>
                                      </div>
                                      <div class="col-sm-6 col-lg-4">
                                        <div class="widget">
                                          <div class="widget-extra themed-background-success">
                                            <h4 class="widget-content-light"><strong>NOTIFICATION</strong></h4>
                                          </div>
                                          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">15/10/2017</span></div>
                                        </div>
                                      </div>
                                      <div class="col-sm-6 col-lg-4">
                                        <div class="widget">
                                          <div class="widget-extra themed-background-success">
                                            <h4 class="widget-content-light"><strong>PROGRAM ONLINE</strong></h4>
                                          </div>
                                          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">15/10/2017</span></div>
                                        </div>
                                      </div>
                                      <div class="col-sm-6 col-lg-4">
                                        <div class="widget">
                                          <div class="widget-extra themed-background-success">
                                            <h4 class="widget-content-light"><strong>EARLY BIRD RATE</strong></h4>
                                          </div>
                                          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">15/10/2017</span></div>
                                        </div>
                                      </div>

                                    </div>

                                    <br>

                                    <div class="clearfix">
                                        <span class="h4"><strong class="text-success">About Conference</strong><br></span>
                                    </div>
                                    <hr>
                                    <p>IBMM (International Conference on Ion Beam Modification of Materials) is the world’s leading platform for ion beam experts and educators to exchange and report most recent significant findings in the ion beam community. The conference series started in Budapest, Hungary, in 1978. It is organized every other year. IBMM 2018, the 21st conference is in San Antonio, Texas, USA. The scope of the conference ranges from fundamental radiation materials science to industry applications.</p>
                                    <br>
                                    <div class="clearfix">
                                        <span class="h4"><strong class="text-success">Topics</strong><br></span>
                                    </div>
                                    <hr>
                                    <ul>
                                      <li>Nanostructure synthesis and modification</li>
                                      <li>Ion-driven self-organization, nanopatterning</li>
                                      <li>Defect-induced modification of materials</li>
                                      <li>Focused ion beams, ion lithography</li>
                                      <li>Cluster ions, single ion, swift heavy ions, highly charged ions</li>
                                      <li>Plasma immersion, plasma-induced modification</li>
                                      <li>Modification of semiconductors, metals and ceramics</li>
                                      <li>Application to electronic, magnetic and optical materials</li>
                                      <li>Irradiation effects in insulators and nuclear materials</li>
                                      <li>Modification of polymers and biomaterials</li>
                                      <li>Others not listed above</li>
                                    </ul>
                                    <br>
                                    <div class="clearfix">
                                        <span class="h4"><strong class="text-success">Chairpersons</strong><br></span>
                                    </div>
                                    <hr>
                                    <ul>
                                      <li>Lin Shao (Texas A&M University)</li>
                                      <li>Mike Michael Nastasi (University of Nebraska-Lincoln)</li>
                                      <li>William Webber (University of Tennessee)</li>
                                      <li>Yongqiang Wang (Los Alamos National Laboratory)</li>
                                    </ul>
                                    <br>
                                    <div class="clearfix">
                                        <span class="h4"><strong class="text-success">Travel Grants (sponsored by IAEA)</strong><br></span>
                                    </div>
                                    <hr>
                                    <p>Sponsored by IAEA (International Atomic Energy Agency), limited travel grants ($500 per person) are available for attendants from developing countries.  Apply here before May 1, 2018.</p>
                                    <br>
                                    <div class="clearfix">
                                        <span class="h4"><strong class="text-success">IBMM Prize</strong><br></span>
                                    </div>
                                    <hr>
                                    <p>The IBMM Prize was established in 2006 and is awarded biennially at IBMM conference to an early career ion beam researcher (up to 7 years since obtaining the Ph.D degree) who has made an outstanding contribution to the field.  Nomination detail here (closing date: May 1, 2018)</p>
                                </div>
                                <!-- END Info -->
                            </div>
                        </div>
                        <!-- END Product Details -->
                    </div>
                </div>
            </section>
            <!-- END Product View -->

            <!-- Footer -->
            <footer class="site-footer site-section">
                <div class="container">
                    <!-- Footer Links -->
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <h4 class="footer-heading">About Us</h4>
                            <ul class="footer-nav list-inline">
                                <li><a href="about.html">Company</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="contact.html">Support</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h4 class="footer-heading">Legal</h4>
                            <ul class="footer-nav list-inline">
                                <li><a href="javascript:void(0)">Licensing</a></li>
                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h4 class="footer-heading">Follow Us</h4>
                            <ul class="footer-nav footer-nav-social list-inline">
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h4 class="footer-heading"><span id="year-copy">2017</span> &copy; <a href="http://goo.gl/TDOSuC">TAMU Ion Lab</a></h4>
                            <ul class="footer-nav list-inline">
                                <li>Crafted with <i class="fa fa-heart text-danger"></i> by <a href="">TLH</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Footer Links -->
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>

        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
