<% provide(:title, "Local Committee") %>

<h1><%= yield(:title) %></h1>

<ul>
  <li>Lin Shao (Texas A&M Univ., USA)</li>
  <li>Debbie Greer (Texas A&M Univ., USA)</li>
  <li>Laura Hawkins (Texas A&M Univ., USA)</li>
  <li>Kim Hyosim (Texas A&M Univ., USA)</li>
  <li>Chonglin Chen (Univ. of Texas at San Antonio, USA)</li>
</ul>
