<% provide(:title, "Program") %>

<h1><%= yield(:title) %></h1>
<!-- <h5>To be finalized</h5> -->

<span class="h3"><strong class="text-success" style="color:red;">Download full program and abstract book <a href="https://drive.google.com/open?id=0B3M62kWSlingN1JaNTZfSmVJOFh5VGVRTGVFN3VpbkFWd21V"> here.</a></strong><br></span>
