<% provide(:title, "Program") %>

<h1><%= yield(:title) %></h1>
<!-- <h5>To be finalized</h5> -->
<table class="table" style="width:100%">
  <tr>
    <th>Time</th> 
    <th>Monday (June 25, 2018)</th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td>Onsite registration (8am to 5pm)</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Opening / welcome</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>An Introduction to Texas A&M University </td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Ion-solid interactions, my early reminiscences </td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Session A: Radiation response of nanostructures</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Charge exchange and energy loss of slow highly charged ions transmitted through 2D materials</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Defect engineering in graphene - the role of the substrate</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>The ion beam-induced properties of low-dimensional materials</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Break</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Session B: Ion beam synthesis of nanostructures</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Self-organization of helium precipitates into elongated channels and the potential consequences for damage-free outgassing of implanted helium from nanocomposite metals</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Ion beam synthesis of nano-size metallic oxide particles in FeCr alloys</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Self-organized hybrid nanodots synthesis using ion beam dewetting of thin films</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>The room-temperature synthesis of HfO2/HfOx heterostructures by ion-implantation</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Lunch (provided)</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Session C: Electronic and photonic applications</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Light emission mechanisms induced by MeV ion irradiation in strontium titanate</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Ion-beam modification of the SiO2 surface phonon polariton mode</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Proton irradiation of -Ga2O3 metal-semiconductor-metal radiation sensors: an in-situ study</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Synthesis and tailoring of vanadium dioxide nanocomposits for photonic applications</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Break</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Session D: Mechanical and thermal property</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Radiation damage and thin film stress in Si-implanted GaAs</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>In situ thermomechanical property monitoring during ion beam irradiation</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Investigation of the mechanical properties of ODS steels at high temperatures using nano-indentation technique</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Isovalent ion implantation into bismuth telluride and it effect on thermoelectric properties</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Poster Session 1</td> 
    <td></td>
  </tr>
</table>

<table class="table" style="width:100%">
  <tr>
    <th>Time</th> 
    <th>Tuesday (June 26, 2018)</th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td>Session E: Modeling </td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Multiscale modelling of structural modifications via electronic stopping power in 0d to 3d materials</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Accelerated molecular dynamics for ion beam mixing in semiconductor heterostructures </td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Modeling of ion irradiation induced microstructural alterations</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Ion channeling effects on sputtering of gold nanorods observed using in situ transmission electron microscopy</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Break</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Session F: Fundamentals </td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Radiation defect dynamics in semiconductors studied by pulsed ion beams</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Formation mechanisms of a Highly Defective Structure in Urania in situ experimental simulation by channelling and TEM</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Influence of inelastic stopping on critical amorphization parameters of indium arsenide implanted with heavy ions</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Electron-phonon coupling strength dependent structural evolution of Germanium using highly ionizing irradiation
</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Lunch (provided)</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Session G: Device applications I</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Ultrafast ion sieving with nuclear-track membranes</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Short period superlattices grown by molecular beam epitaxy and doped with rare earths</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Ion cutting of amorphous metals by using helium ion implantation </td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Ion-slicing process for hetero-integration of semiconductors</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Break</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Session H: Device application II</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Defects tailored catalysis and SERS properties of metal oxide semiconductor by ion beams</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Tailoring Optical Properties of 2D materials via Ion Irradiation</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Characteristic of defects in ions implanted Potassium Titanyl Phosphate crystal for film fabrication</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Characteristic of Displacement Damage on 3CK3637 PNP bipolar junction Transistors Caused by Various Heavy Ion</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Poster Session 2</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>International committee meeting</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Isovalent ion implantation into bismuth telluride and it effect on thermoelectric properties</td> 
    <td></td>
  </tr>
  <tr>
    <td>8:00 -8:10 am</td>
    <td>Poster Session 1</td> 
    <td></td>
  </tr>
</table>
