<% provide(:title, "Program") %>

<h1><%= yield(:title) %></h1>
<!-- <h5>To be finalized</h5> -->
<table class="table">
  <thead>
    <tr>
      <th style="width: 15%"></th>
      <th style="width: 75%">Sunday (June 24, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7:00 - 8:30 pm</td>
      <td>Reception</td>
      <td></td>
    </tr>
  </tbody>
</table>


<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Monday (June 25, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Onsite registration (8am to 5pm)</td> 
      <td></td>
    </tr>
    <tr>
      <td>8:00 - 8:10 am</td>
      <td>Opening / welcome</td> 
      <td></td>
    </tr>
    <tr>
      <td>8:10 - 8:30 am</td>
      <td>An Introduction to Texas A&M University </td> 
      <td></td>
    </tr>
    <tr>
      <td>8:30 - 9:00 am</td>
      <td>Ion-solid interactions, my early reminiscences </td> 
      <td></td>
    </tr>
    <tr>
      <td>9:00 - 10:10 am</td>
      <td>Session A: Radiation response of nanostructures</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:00 - 9:30</td>
      <td>Charge exchange and energy loss of slow highly charged ions transmitted through 2D materials</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:30 - 9:50</td>
      <td>Defect engineering in graphene - the role of the substrate</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:50 - 10:10</td>
      <td>The ion beam-induced properties of low-dimensional materials</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:10 - 10:30</td>
      <td>Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:30 - 12:00 pm</td>
      <td>Session B: Ion beam synthesis of nanostructures</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:30 - 11:00</td>
      <td>Self-organization of helium precipitates into elongated channels and the potential consequences for damage-free outgassing of implanted helium from nanocomposite metals</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:00 - 11:20</td>
      <td>Ion beam synthesis of nano-size metallic oxide particles in FeCr alloys</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:20 - 11:40</td>
      <td>Self-organized hybrid nanodots synthesis using ion beam dewetting of thin films</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:40 - 12:00</td>
      <td>The room-temperature synthesis of HfO2/HfOx heterostructures by ion-implantation</td> 
      <td></td>
    </tr>
    <tr>
      <td>12:00 - 1:30 pm</td>
      <td>Lunch (provided)</td> 
      <td></td>
    </tr>
    <tr>
      <td>1:30 - 3:00</td>
      <td>Session C: Electronic and photonic applications</td> 
      <td></td>
    </tr>
    <tr>
      <td>1:30 - 2:00</td>
      <td>Light emission mechanisms induced by MeV ion irradiation in strontium titanate</td> 
      <td></td>
    </tr>
    <tr>
      <td>2:00 - 2:20</td>
      <td>Ion-beam modification of the SiO2 surface phonon polariton mode</td> 
      <td></td>
    </tr>
    <tr>
      <td>2:20 - 2:40</td>
      <td>Proton irradiation of -Ga2O3 metal-semiconductor-metal radiation sensors: an in-situ study</td> 
      <td></td>
    </tr>
    <tr>
      <td>2:40 - 3:00</td>
      <td>Synthesis and tailoring of vanadium dioxide nanocomposits for photonic applications</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:00 - 3:30</td>
      <td>Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:30 - 5:00</td>
      <td>Session D: Mechanical and thermal property</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:30 - 4:00</td>
      <td>Radiation damage and thin film stress in Si-implanted GaAs</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:00 - 4:20</td>
      <td>In situ thermomechanical property monitoring during ion beam irradiation</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:20 - 4:40</td>
      <td>Investigation of the mechanical properties of ODS steels at high temperatures using nano-indentation technique</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:40 - 5:00</td>
      <td>Isovalent ion implantation into bismuth telluride and it effect on thermoelectric properties</td> 
      <td></td>
    </tr>
    <tr>
      <td>5:00 - 7:00 pm</td>
      <td>Poster Session 1</td> 
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Tuesday (June 26, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td></td>
        <td>Onsite registration (8am to 5pm)</td> 
        <td></td>
    </tr>
    <tr>
      <td>8:30 - 10:00 am</td>
      <td>Session E: Modeling </td> 
      <td></td>
    </tr>
    <tr>
      <td>8:00 - 9:00</td>
      <td>Multiscale modelling of structural modifications via electronic stopping power in 0d to 3d materials</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:00 - 9:20</td>
      <td>Accelerated molecular dynamics for ion beam mixing in semiconductor heterostructures </td> 
      <td></td>
    </tr>
    <tr>
      <td>9:20 - 9:40</td>
      <td>Modeling of ion irradiation induced microstructural alterations</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:40 - 10:10</td>
      <td>Ion channeling effects on sputtering of gold nanorods observed using in situ transmission electron microscopy</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:00 - 10:30</td>
      <td>Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:30 - 12:00 pm</td>
      <td>Session F: Fundamentals </td> 
      <td></td>
    </tr>
    <tr>
      <td>10:30 - 11:00</td>
      <td>Radiation defect dynamics in semiconductors studied by pulsed ion beams</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:00 - 11:20</td>
      <td>Formation mechanisms of a Highly Defective Structure in Urania in situ experimental simulation by channelling and TEM</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:20 - 11:40</td>
      <td>Influence of inelastic stopping on critical amorphization parameters of indium arsenide implanted with heavy ions</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:40 - 12:00</td>
      <td>Electron-phonon coupling strength dependent structural evolution of Germanium using highly ionizing irradiation
  </td> 
      <td></td>
    </tr>
    <tr>
      <td>12:00 - 1:30 pm</td>
      <td>Lunch (provided)</td> 
      <td></td>
    </tr>
    <tr>
      <td>1:30 - 3:00</td>
      <td>Session G: Device applications I</td> 
      <td></td>
    </tr>
    <tr>
      <td>1:30 - 2:00</td>
      <td>Ultrafast ion sieving with nuclear-track membranes</td> 
      <td></td>
    </tr>
    <tr>
      <td>2:00 - 2:20</td>
      <td>Short period superlattices grown by molecular beam epitaxy and doped with rare earths</td> 
      <td></td>
    </tr>
    <tr>
      <td>2:20 - 2:40</td>
      <td>Ion cutting of amorphous metals by using helium ion implantation </td> 
      <td></td>
    </tr>
    <tr>
      <td>2:40 - 3:00</td>
      <td>Ion-slicing process for hetero-integration of semiconductors</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:00 - 3:30</td>
      <td>Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:30 - 5:00</td>
      <td>Session H: Device application II</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:30 - 4:00</td>
      <td>Defects tailored catalysis and SERS properties of metal oxide semiconductor by ion beams</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:00 - 4:20</td>
      <td>Tailoring Optical Properties of 2D materials via Ion Irradiation</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:20 - 4:40</td>
      <td>Characteristic of defects in ions implanted Potassium Titanyl Phosphate crystal for film fabrication</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:40 - 5:00</td>
      <td>Characteristic of Displacement Damage on 3CK3637 PNP bipolar junction Transistors Caused by Various Heavy Ion</td> 
      <td></td>
    </tr>
    <tr>
      <td>5:00 - 7:00 pm</td>
      <td>Poster Session 2</td> 
      <td></td>
    </tr>
    <tr>
      <td>7:00 - 9:30 pm</td>
      <td>International committee meeting</td> 
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Wednesday (June 27, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td></td>
        <td>Onsite registration (8am to 5pm)</td> 
        <td></td>
      </tr>
    <tr>
      <td>8:30 - 10:00 am</td>
      <td>Session I: Nuclear materials related I</td> 
      <td></td>
    </tr>
    <tr>
      <td>8:00 - 9:00</td>
      <td>IAEA activities in support of Materials Research using Ion Beams</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:00 - 9:20</td>
      <td>New Insights on Denuded Zone Formation in Polycrystalline Materials</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:20 - 9:40</td>
      <td>Radiation tolerance and plasticity in amorphous SiOC and amorphous SiOC/crystalline Fe nanocomposite</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:40 - 10:00</td>
      <td>Vacancies-solutes interactions and their role in the formation of oxide nanoparticles in ODS steels</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:00 - 10:30</td>
      <td>Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:30 - 12:00 pm</td>
      <td>Session J: Nuclear Materials related II</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:30 - 11:00</td>
      <td>High Dose Ion Irradiation Testing of Ferritic Steels</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:00 - 11:20</td>
      <td>Roadmap for the Application of Ion Beam Technologies to the Challenges of Nuclear Energy Technologies</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:20 - 11:40</td>
      <td>Comparison of high-temperature neutron and ion-irradiation of Ti-based Mn+1AXn Phases</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:40 - 12:00</td>
      <td>Damages on pure tungsten irradiated by Compression Plasma Flows</td> 
      <td></td>
    </tr>
    <tr>
      <td>12:00 - 1:30 pm</td>
      <td>Lunch (provided)</td> 
      <td></td>
    </tr>
    <tr>
      <td>1:30 - 4:10 pm</td>
      <td>Outing</td> 
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Thursday (June 28, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:30 - 10:00 am</td>
      <td>Session K: Swift ion and cluster ion</td> 
      <td></td>
    </tr>
    <tr>
      <td>8:30 - 8:50</td>
      <td>Cell adhesion improvement of PEEK surface by gas cluster ion beam irradiation</td> 
      <td></td>
    </tr>
    <tr>
      <td>8:50 - 9:10</td>
      <td>Nano ripple formation on Au film by Argon gas cluster ion beam, and its bio-sensing application for antibody-antigen detection</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:10 - 9:30</td>
      <td>Coupled electronic and atomic effects on defect evolution in silicon carbide under ion irradiation</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:30 - 9:50</td>
      <td>Modifications of the mechanical properties induced in GaN under swift heavy ions</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:50 - 10:10</td>
      <td>Investigations of structural and chemical order in III-N semiconductors irradiated by swift heavy ions</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:10 - 10:40</td>
      <td>Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:40 - 12:00 pm</td>
      <td>Session L: Device application III</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:40 - 11:00</td>
      <td>Single Ion Implantation for Quantum Technologies</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:00 - 11:20 am</td>
      <td>Abnormal lattice location and electrical activation in chalcogen-hyperdoped Si</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:20 - 11:40</td>
      <td>Irradiation-induced structural and compositional transformation of III-V semiconductor surfaces</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:40 - 12:00 pm</td>
      <td>The influence of the process of irradiation with Al and In ions on the GaAs surface on the formation of natural oxides and their physical properties</td> 
      <td></td>
    </tr>
    <tr>
      <td>12:00 - 1:30 pm</td>
      <td>Lunch (provided)</td> 
      <td></td>
    </tr>
    <tr>
      <td>1:30 - 3:00</td>
      <td>IBMM Prize and Session M Magnetic property</td> 
      <td></td>
    </tr>
    <tr>
      <td>1:30 - 2:00 am</td>
      <td>IBMM Prize presentation</td> 
      <td></td>
    </tr>
    <tr>
      <td>2:00 - 2:20</td>
      <td>Application of ion beams to fabricate and tune ferromagnetic semiconductors</td> 
      <td></td>
    </tr>
    <tr>
      <td>2:20 - 2:40</td>
      <td>Investigation of the ion induced magnetization in FeRh</td> 
      <td></td>
    </tr>
    <tr>
      <td>2:40 - 3:00</td>
      <td>Structure and magnetism of metastable γ-Fe nanoparticles embedded in SrTiO3</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:00 - 3:30</td>
      <td>Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:30 - 5:00</td>
      <td>Session N: Nuclear materials III</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:30 - 4:00</td>
      <td>Damages on pure tungsten irradiated by Compression Plasma Flows</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:00 - 4:20</td>
      <td>Morphological study of ion irradiated zirconolite glass-ceramic</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:20 - 4:40</td>
      <td>Microstructure evolution after helium pre-implantation and self-ion irradiation on dual- phase 12Cr oxide dispersion strengthened alloy</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:40 - 5:00</td>
      <td>Strong Damage in Tungsten Surfaces by Deuterium Irradiation with Sub-threshold Ion</td> 
      <td></td>
    </tr>
    <tr>
      <td>5:00 - 7:00 pm</td>
      <td></td> 
      <td></td>
    </tr>
    <tr>
      <td>7:00 - 9:30 pm</td>
      <td>Banquet</td> 
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Friday (June 29, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>8:30 - 10:00 am</td>
        <td>Session O</td> 
        <td></td>
      </tr>
    <tr>
      <td>8:30 - 9:00</td>
      <td>Ion beam modification of graphene material for photodector and resistive memory application</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:00 - 9:20</td>
      <td>The irradiation effects of graphite and graphene induced by energetic ions</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:20 - 9:40</td>
      <td>Defect production in supported two-dimensional materials under ion irradiation from atomistic simulations: the substrate is crucial</td> 
      <td></td>
    </tr>
    <tr>
      <td>9:40 - 10:00</td>
      <td>Varied Nanoparticle Response to Ion Beam Modification</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:00 - 10:20</td>
      <td>Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:20 - 12:00 pm</td>
      <td>Session P: Ion Beam Analysis</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:20 - 10:50</td>
      <td>Channeling Focused He+ Ion Beams</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:50 - 11:10</td>
      <td>Vacancy trapping in Au-hyperdoped Si by ion implantation and pulsed laser melting</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:10 - 11:30</td>
      <td>Application of Positron Annihilation Spectroscopy in Investigations of the Long Range Effect’s Existence</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:30 - 11:50</td>
      <td>Reducing and overcoming matrix effects in secondary ion mass spectrometry</td> 
      <td></td>
    </tr>
    <tr>
      <td>11:50 - 12:10 pm</td>
      <td>Ion beam channeling in nanotubes</td>
      <td></td>
    </tr>
    <tr>
      <td>12:10 - 2:00 pm</td>
      <td>End of presentations and lunch on your own</td> 
      <td></td>
    </tr>
    <tr>
      <td>2:00 - 4:00 am</td>
      <td>Tour of Southwest Research Institute</td> 
      <td></td>
    </tr>
  </tbody>
</table>
