<% provide(:title, "Program") %>

<h1><%= yield(:title) %></h1>
<!-- <h5>To be finalized</h5> -->
<span class="h3"><strong class="text-success" style="color:red;">Download full program and abstract book <a href="https://drive.google.com/open?id=1u8lIAruw0Yfi4xlyMkYx8yPeagUE-3jN"> here.</a></strong><br></span>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Sunday (June 24, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3:00 - 7:30 pm</td>
      <td>Reception</td>
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>7:00 - 8:30 pm</td>
      <td>Reception</td>
      <td>Room La Condesa</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Monday (June 25, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7:00 am</td>
      <td>Registration opens (close at 5 pm)</td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>8:00 - 8:10 am</td>
      <td>Opening / welcome</td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>8:10 - 8:30 am</td>
      <td>An Introduction to Texas A&M University </td> 
      <td></td>
    </tr>
    <tr>
      <td>8:30 - 9:00 am</td>
      <td><b>Invited 205:</b> Ion-solid interactions, my early reminiscences </td> 
      <td>Wei-Kan Chu</td>
    </tr>
    <tr>
      <td>9:00 - 10:10 am</td>
      <td><b>Session A: Radiation response of nanostructures-chaired by Rob Elliman</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>9:00 - 9:30</td>
      <td><b>Invited 131:</b> Charge exchange and energy loss of slow highly charged ions transmitted through 2D materials</td> 
      <td>R.A. Wilhelm, S. Creutzburg, J. Schwestka, E. Gruber, et al.</td>
    </tr>
    <tr>
      <td>9:30 - 9:50</td>
      <td>Abstract 53: Defect engineering in graphene - the role of the substrate</td> 
      <td>J. Murray and R. G. Elliman</td>
    </tr>
    <tr>
      <td>9:50 - 10:10</td>
      <td>Abstract 65: effects of temperature and electronic energy loss on the irradiation response of Ti3SiC2 to self-ions</td> 
      <td>William Alexander Hanson, William J. Weber, Yanwen Zhang</td>
    </tr>
    <tr>
      <td>10:10 - 10:30</td>
      <td style="color: blue;">Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:30 - 12:00 pm</td>
      <td><b>Session B: Ion beam synthesis of nanostructures-chaired by André V antomme</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>10:30 - 11:00</td>
      <td><b>Invited 186:</b> Self-organization of helium precipitates into elongated channels and the potential consequences for damage-free outgassing of implanted helium from nanocomposite metals</td> 
      <td>Michael Demkowicz</td>
    </tr>
    <tr>
      <td>11:00 - 11:20</td>
      <td>Abstract 117: Ion beam synthesis of nano-size metallic oxide particles in FeCr alloys</td> 
      <td>Martin Owusu-Mensah, Stéphanie Jublot-Leclerc, Aurélie Gentils, et al.</td>
    </tr>
    <tr>
      <td>11:20 - 11:40</td>
      <td>Abstract 1: Self-organized hybrid nanodots synthesis using ion beam dewetting of thin films</td> 
      <td>Pratap K. Sahoo</td>
    </tr>
    <tr>
      <td>11:40 - 12:00</td>
      <td>Abstract 21: The room-temperature synthesis of HfO2/HfOx heterostructures by ion-implantation</td> 
      <td>S. K. Nandi, D. K. Venkatachalam, S. Ruffell, J. England, P. Grande, et al.</td>
    </tr>
    <tr>
      <td>12:00 - 1:30 pm</td>
      <td style="color:blue;">Lunch (provided)</td>
      <td>Room El Mirador</td>
    </tr>
    <tr>
      <td>1:30 - 3:00</td>
      <td><b>Session C: Electronic and photonic applications-chaired by Eduardo Alves</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>1:30 - 2:00</td>
      <td><b>Invited 187:</b> Light emission mechanisms induced by MeV ion irradiation in strontium titanate</td> 
      <td>M. L. Crespillo, J. T. Graham, F. Agulló-López, Y. Zhang, W. J. Weber</td>
    </tr>
    <tr>
      <td>2:00 - 2:20</td>
      <td>Abstract 37: Ion-beam modification of the SiO2 surface phonon polariton mode</td> 
      <td>Camilla Codeço, S.L.A. Mello, G.M. Penello, A.C.F. Santos, et al.</td>
    </tr>
    <tr>
      <td>2:20 - 2:40</td>
      <td>Abstract 103: Proton irradiation of -Ga2O3 metal-semiconductor-metal radiation sensors: an in-situ study</td> 
      <td>M. Peres, L.C. Alves, E. Alves, T. S. Monteiro, S. Cardoso, F.J. Oliveira, et al.</td>
    </tr>
    <tr>
      <td>2:40 - 3:00</td>
      <td>Abstract 144: Synthesis and tailoring of vanadium dioxide nanocomposits for photonic applications</td> 
      <td>Helmut Karl</td>
    </tr>
    <tr>
      <td>3:00 - 3:30</td>
      <td style="color: blue;">Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:30 - 5:00</td>
      <td><b>Session D: Mechanical and thermal property-chaired by Yanwen Zhang</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>3:30 - 4:00</td>
      <td><b>Invited 130:</b> Radiation damage and thin film stress in Si-implanted GaAs</td> 
      <td>Elke Wendler, Paul Kutza, Sascha Creutzburg, Emanuel Schmidt, et al.</td>
    </tr>
    <tr>
      <td>4:00 - 4:20</td>
      <td>Abstract 124: In situ thermomechanical property monitoring during ion beam irradiation</td> 
      <td>Cody A. Dennett, Michael P. Short, Khalid Hattar</td>
    </tr>
    <tr>
      <td>4:20 - 4:40</td>
      <td>Abstract 22: Investigation of the mechanical properties of ODS steels at high temperatures using nano-indentation technique</td> 
      <td>E. Wyszkowska, M. Frelek- Kozak, L. Kurpaska, K. Perkowski, I. Jozwik, et al.</td>
    </tr>
    <tr>
      <td>4:40 - 5:00</td>
      <td>Abstract 35: Isovalent ion implantation into bismuth telluride and it effect on thermoelectric properties</td> 
      <td>J. Kennedy, P.P. Murmu, P. Kumar, K. Hippalgaonkar, G. Ramanath</td>
    </tr>
    <tr>
      <td>5:00 - 7:00 pm</td>
      <td><b>Poster Session I</b></td> 
      <td>Room La Vista</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Tuesday (June 26, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>7:30 am</td>
        <td>Registration opens (closes at 5 pm)</td> 
        <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>8:30 - 10:00 am</td>
      <td><b>Session E: Modeling-chaired by William Weber</b></td> 
      <td></td>
    </tr>
    <tr>
      <td>8:00 - 9:00</td>
      <td><b>Invited 140:</b> Multiscale modelling of structural modifications via electronic stopping power in 0d to 3d materials</td> 
      <td>F. Djurabekova, H.V. Muiños, V. Jantunen, Kai Nordlund</td>
    </tr>
    <tr>
      <td>9:00 - 9:20</td>
      <td>Abstract 90: Accelerated molecular dynamics for ion beam mixing in semiconductor heterostructures </td> 
      <td>Kai Nordlund, C. Fridlund, J. Laakso, Flyura Djurabekova </td>
    </tr>
    <tr>
      <td>9:20 - 9:40</td>
      <td>Abstract 57: Modeling of ion irradiation induced microstructural alterations</td> 
      <td>Eva Zarkadoula, Yanwen Zhang, William J Weber</td>
    </tr>
    <tr>
      <td>9:40 - 10:10</td>
      <td>Abstract 61: Ion channeling effects on sputtering of gold nanorods observed using in situ transmission electron microscopy</td> 
      <td>J.A. Hinks, F. Hibberd, K. Hattar, A. Ilinov, et al.</td>
    </tr>
    <tr>
      <td>10:00 - 10:30</td>
      <td style="color: blue;">Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:30 - 12:00 pm</td>
      <td><b>Session F: Fundamentals-chaired by Kai Nordlund</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>10:30 - 11:00</td>
      <td><b>Invited 92:</b> Radiation defect dynamics in semiconductors studied by pulsed ion beams</td> 
      <td>L. B. Bayu Aji, J. B. Wallace, L. Shao, and S. O. Kucheyev </td>
    </tr>
    <tr>
      <td>11:00 - 11:20</td>
      <td>Abstract 171: Formation mechanisms of a Highly Defective Structure in Urania in situ experimental simulation by channelling and TEM</td> 
      <td>Y. Haddad, A. Gentils, C. Bachelet, C. Baumier, et al.</td>
    </tr>
    <tr>
      <td>11:20 - 11:40</td>
      <td>Abstract 67: Influence of inelastic stopping on critical amorphization parameters of indium arsenide implanted with heavy ions</td> 
      <td>E. Friedland, E. Njogobe and C. Theron</td>
    </tr>
    <tr>
      <td>11:40 - 12:00</td>
      <td>Abstract 152: Electron-phonon coupling strength dependent structural evolution of Germanium using highly ionizing irradiation
  </td> 
      <td>Sonu Hooda, D. Kanjilal, S. A. Khan, B. Satpati, et al.</td>
    </tr>
    <tr>
      <td>12:00 - 1:30 pm</td>
      <td style="color:blue;">Lunch</td>
      <td>Room El Mirador</td>
    </tr>
    <tr>
      <td>1:30 - 3:00</td>
      <td><b>Session G: Device applications I-chaired by Feng Ren</b></td> 
      <td>Room Salon del Re</td>
    </tr>
    <tr>
      <td>1:30 - 2:00</td>
      <td><b>Invited 127:</b> Ultrafast ion sieving with nuclear-track membranes</td> 
      <td>P.F. Wang, Q. Wen, M. Wang, D.X. Yan, F. Liu, S.Y. Ding, et al.</td>
    </tr>
    <tr>
      <td>2:00 - 2:20</td>
      <td>Abstract 143: Short period superlattices grown by molecular beam epitaxy and doped with rare earths</td> 
      <td>M. Stachowicz, S. Magalhães, M. Pietrzyk, J. M. Sajkowski, et al.</td>
    </tr>
    <tr>
      <td>2:20 - 2:40</td>
      <!-- <td>Ion cutting of amorphous metals by using helium ion implantation </td>  -->
      <td>Abstract 10: A concept for deterministic ion implantation by image charge detection</td> 
      <td>Paul Räcke, Daniel Spemann, Bernd Rauschenbach, et al.</td>
    </tr>
    <tr>
      <td>2:40 - 3:00</td>
      <!-- <td>Abstract 109: Ion cutting of amorphous metals by using helium ion implantation</td>  -->
      <!-- <td>Tianyao Wang, Hyosim Kim, Jonathan G. Gigax, et al.</td> -->
      <td>Abstract 215: Evidence of p-type doping in Mn doped AlGaN following 57Mn/57Fe implantation</td>
      <td>H. P. Gunnlaugsson, H. Masenda, A. Tarazaga, D. Naidoo, et al.</td>
    </tr>
    <tr>
      <td>3:00 - 3:30</td>
      <td style="color: blue;">Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:30 - 5:00</td>
      <td><b>Session H: Device application II-chaired by Sjoerd Roorda</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>3:30 - 4:00</td>
      <td><b>Invited 190:</b> Defects tailored catalysis and SERS properties of metal oxide semiconductor by ion beams</td> 
      <td>Xudong Zheng, H. Wu, Y. Liu, F. Ren, Changzhong Jiang</td>
    </tr>
    <tr>
      <td>4:00 - 4:20</td>
      <td>Abstract 76: Tailoring Optical Properties of 2D materials via Ion Irradiation</td> 
      <td>Yang Tan</td>
    </tr>
    <tr>
      <td>4:20 - 4:40</td>
      <td>Abstract 180: Characteristic of defects in ions implanted Potassium Titanyl Phosphate crystal for film fabrication</td> 
      <td>Changdong Ma</td>
    </tr>
    <tr>
      <td>4:40 - 5:00</td>
      <td>Abstract 31: Characteristic of displacement damage on 3CK3637 PNP bipolar junction transistors caused by various heavy ion</td> 
      <td>Xiangsong Sun, Xingji Li, J. Yang, Chaoming Liu, Heyi Li</td>
    </tr>
    <tr>
      <td>5:00 - 7:00 pm</td>
      <td><b>Poster Session II</b></td> 
      <td>Room La Vista</td>
    </tr>
    <tr>
      <td>7:00 - 9:30 pm</td>
      <td style="color: red;">International committee meeting</td> 
      <td>Room La Condesa</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Wednesday (June 27, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>7:30 am</td>
        <td>Registration opens (closes at 12 pm)</td> 
        <td></td>
      </tr>
    <tr>
      <td>8:30 - 10:00 am</td>
      <td><b>Session I: Nuclear materials related I-chaired by Frederico Garrido</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>8:00 - 9:00</td>
      <td><b>Invited 100:</b> IAEA activities in support of Materials Research using Ion Beams</td> 
      <td>Aliz Simon, Ian Peter Swainson, Sehila Gonzales de Vicente, Danas Ridikas</td>
    </tr>
    <tr>
      <td>9:00 - 9:20</td>
      <td>Abstract 19: New Insights on Denuded Zone Formation in Polycrystalline Materials</td> 
      <td>O. El-Atwani, E. Martinez, Y. Wang, S.A. Maloy, B. Uberuaga</td>
    </tr>
    <tr>
      <td>9:20 - 9:40</td>
      <td>Abstract 32: Radiation tolerance and plasticity in amorphous SiOC and amorphous SiOC/crystalline Fe nanocomposite</td> 
      <td>Qing Su</td>
    </tr>
    <tr>
      <td>9:40 - 10:00</td>
      <td>Abstract 24: Vacancies-solutes interactions and their role in the formation of oxide nanoparticles in ODS steels</td> 
      <td>W. Asplet, P. Desgardin, F. Jomard, S Cammelli, M.-F. Barthe</td>
    </tr>
    <tr>
      <td>10:00 - 10:30</td>
      <td style="color: blue;">Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:30 - 12:00 pm</td>
      <td><b>Session J: Nuclear Materials related II-chaired by Steve Donnelly</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>10:30 - 11:00</td>
      <td><b>Invited 182:</b> High Dose Ion Irradiation Testing of Ferritic Steels</td> 
      <td>chaired by Steve Donnelly</td>
    </tr>
    <tr>
      <td>11:00 - 11:20</td>
      <td>Abstract 120: Roadmap for the Application of Ion Beam Technologies to the Challenges of Nuclear Energy Technologies</td> 
      <td>Brenden Heidrich, Simon M. Pimblott, Gary S. Was, S Zinkle</td>
    </tr>
    <tr>
      <td>11:20 - 11:40</td>
      <td>Abstract 75: Comparison of high-temperature neutron and ion-irradiation of Ti-based Mn+1AXn Phases</td> 
      <td>Matheus A. Tunes, Philip D. Edmondson, Stephen E. Donnelly</td>
    </tr>
    <tr>
      <td>11:40 - 12:00</td>
      <!-- <td>(cancelled) Abstract 172: Damages on pure tungsten irradiated by Compression Plasma Flows</td>  -->
      <!-- <td>Miao Qu, F. Kong, S. Yan, V.V. Uglov, J. Xue, Y. Wang</td> -->
      <td>Abstract 81: Ion beam modification of one-dimensional nanomaterials for tuning surface wettability</td> 
      <td>Shyamal Chatterjee, Wolfhard Möller, Satyanarayan Dhal, Pritam Das, Manoj K. Rajbhar</td>
    </tr>
    <tr>
      <td>12:00 - 1:30 pm</td>
      <td style="color:blue;">Lunch</td> 
      <td>Room El Mirador</td>
    </tr>
    <tr>
      <td>1:30 - 4:10 pm</td>
      <td style="color: blue;">Outing</td> 
      <td>1:30 pm Depart Hotel </td>
      <td>2:15 pm Arrive at Natural Bridge Caverns</td>
      <td>2:20 pm Group 1 Tour</td>
      <td>2:30 pm Group 2 Tour</td>
      <td>4:00 pm Depart NBC</td>
      <td>4:45 pm Return to Hotel</td>
      <td>Meet at the hotel entrance for bus transportation</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Thursday (June 28, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:30 - 10:00 am</td>
      <td><b>Session K: Swift ion and cluster ion-chaired by Elke Wendler</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>8:30 - 8:50</td>
      <td>Abstract 69: Cell adhesion improvement of PEEK surface by gas cluster ion beam irradiation</td> 
      <td>Noriaki Toyoda, Akemi Ohtagaki</td>
    </tr>
    <tr>
      <td>8:50 - 9:10</td>
      <td>Abstract 204: Nano ripple formation on Au film by Argon gas cluster ion beam, and its bio-sensing application for antibody-antigen detection</td> 
      <td>Wei-Kan Chu, I. Saleem, W. Widger</td>
    </tr>
    <tr>
      <td>9:10 - 9:30</td>
      <td>Abstract 60: Coupled electronic and atomic effects on defect evolution in silicon carbide under ion irradiation</td> 
      <td>Yanwen Zhang, R. Sachan, E. Zarkadoula, H. Xue, et al.</td>
    </tr>
    <tr>
      <td>9:30 - 9:50</td>
      <td>Abstract 170: Modifications of the mechanical properties induced in GaN under swift heavy ions</td> 
      <td>A. Ribet, F. Moisy, C. Grygiel, J-G. Mattei, I Monnet, et al.</td>
    </tr>
    <tr>
      <td>9:50 - 10:10</td>
      <td>Abstract 167: Investigations of structural and chemical order in III-N semiconductors irradiated by swift heavy ions</td> 
      <td>J.G. Mattei, X. Portier, F. Moisy, M.Sall, D. Levasseur, et al.</td>
    </tr>
    <tr>
      <td>10:10 - 10:40</td>
      <td style="color: blue;">Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:40 - 12:00 pm</td>
      <td><b>Session L: Device application III-chaired by Jürgen Fassbender</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>10:40 - 11:00</td>
      <td>Abstract 29: The irradiation effects of graphite and graphene induced by energetic ions</td> 
      <td>J. Zeng, S.X. Zhang, H.J. Yao, P.F. Zhai, P.P Hu, et al.</td>
    </tr>
    <tr>
      <td>11:00 - 11:20 am</td>
      <td>Abstract 116: Abnormal lattice location and electrical activation in chalcogen-hyperdoped Si</td> 
      <td>Mao Wang, S. Prucnal, A. Debernardi, R. Heller, Ye Yuan, et al.</td>
    </tr>
    <tr>
      <td>11:20 - 11:40</td>
      <td>Abstract 91: Irradiation-induced structural and compositional transformation of III-V semiconductor surfaces</td> 
      <td>Michael A. Lively, M. Toriyama, B. Holybee, Jean Paul Allain</td>
    </tr>
    <tr>
      <td>11:40 - 12:00 pm</td>
      <td>Abstract 169: The influence of the process of irradiation with Al and In ions on the GaAs surface on the formation of natural oxides and their physical properties</td> 
      <td>M. Kulik, D. Kołodyńska, A. Bayramov, et al.</td>
    </tr>
    <tr>
      <td>12:00 - 1:30 pm</td>
      <td style="color:blue;">Lunch</td> 
      <td>Room El Mirador</td>
    </tr>
    <tr>
      <td>1:30 - 3:00</td>
      <td><b>IBMM Prize and Session M: Magnetic property-chaired by Yugang Wang</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>1:30 - 2:00 am</td>
      <td>Abstract 166: Dispersoid stability in ion irradiated oxide-dispersion- strengthened alloy</td> 
      <td>Hyosim Kim, Jonathan G. Gigax, Tianyi Chen, Shigeharu Ukai, et al.</td>
    </tr>
    <tr>
      <td>2:00 - 2:20</td>
      <td>Abstract 94: Morphological study of ion irradiated zirconolite glass-ceramic</td> 
      <td>L. Chen, P. Lv, B.T. Zhang, J.D. Zhang, L.M. Zhang, T.S. Wang</td>
    </tr>
    <tr>
      <td>2:20 - 2:40</td>
      <td>Abstract 206: Radiation response of Ti2AlC coated and FeCrAl coated Zircaloy-4 for accident tolerant fuel cladding</td> 
      <td>Jonathan G. Gigax, Miltiadas Kennas, Hyosim Kim, et al.</td>
    </tr>
    <tr>
      <td>2:40 - 3:00</td>
      <td>Abstract 134: Strong Damage in Tungsten Surfaces by Deuterium Irradiation with Sub-threshold Ion</td> 
      <td>L. Gao, A. Manhard, W. Jacob</td>
    </tr>
    <tr>
      <td>3:00 - 3:30</td>
      <td style="color: blue;">Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>3:30 - 5:00 pm</td>
      <td><b>Session N: Magentic property and others-chaired by Karen Kavanagh</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>3:30 - 4:00</td>
      <td>Abstract 133: Application of ion beams to fabricate and tune ferromagnetic semiconductors</td> 
      <td>Shengqiang Zhou</td>
    </tr>
    <tr>
      <td>4:00 - 4:20</td>
      <td>Abstract 56: Investigation of the ion induced magnetization in FeRh</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:20 - 4:40</td>
      <td>Abstract 44: Structure and magnetism of metastable γ-Fe nanoparticles embedded in SrTiO3</td> 
      <td>A. Vantomme, V. Augustyns, H.P. Gunnlaugsson, et al.</td>
    </tr>
    <tr>
      <td>4:40 - 5:00</td>
      <td>Abstract 210: Modification of crystalline phase in space silicate analogues with helium irradiation</td> 
      <td>Joshua M. Young, Bibhudutta Rout, Daniel C. Jones, et al.</td>
    </tr>



    <!-- <tr>
      <td>3:30 - 4:00</td>
      <td>Damages on pure tungsten irradiated by Compression Plasma Flows</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:00 - 4:20</td>
      <td>Morphological study of ion irradiated zirconolite glass-ceramic</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:20 - 4:40</td>
      <td>Microstructure evolution after helium pre-implantation and self-ion irradiation on dual- phase 12Cr oxide dispersion strengthened alloy</td> 
      <td></td>
    </tr>
    <tr>
      <td>4:40 - 5:00</td>
      <td>Strong Damage in Tungsten Surfaces by Deuterium Irradiation with Sub-threshold Ion</td> 
      <td></td>
    </tr> -->
    <tr>
      <td>5:00 - 7:00 pm</td>
      <td></td> 
      <td></td>
    </tr>
    <tr>
      <td>7:00 - 9:30 pm</td>
      <td style="color: blue;">Banquet</td> 
      <td>Room Salon del Rey</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 70%">Friday (June 29, 2018)</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>8:30 - 10:00 am</td>
        <td><b>Session O: Irradiation effects on low dimensional materials-chaired by Yongqiang Wang</b></td> 
        <td>Room Salon del Rey</td>
      </tr>
    <tr>
      <td>8:30 - 9:00</td>
      <td><b>Invited 189:</b> Ion beam modification of graphene material for photodector and resistive memory application</td> 
      <td>Zengfeng Di, Miao Zhang, Xiaolong Zhao, Jun Ma , Qi Liu , Di Chen , Lin Shao, Ming Liu, and Xi Wang</td>
    </tr>
    <tr>
      <td>9:00 - 9:20</td>
      <td>Abstract 101: Defect production in supported two-dimensional materials under ion irradiation from atomistic simulations: the substrate is crucial</td> 
      <td>Silvan Kretschmer, Mikhail Maslov, Sadegh Ghaderzadeh, Mahdi Ghorbani-Asl, et al.</td>
    </tr>
    <tr>
      <td>9:20 - 9:40</td>
      <td>Abstract 139: Varied Nanoparticle Response to Ion Beam Modification</td> 
      <td>K. Hattar, S.A. Briggs, D.C. Bufford, S.J. Blair, C.M. Barr, B.R. Muntifering</td>
    </tr>
    <tr>
      <td>9:40 - 10:00</td>
      <td style="color: blue;">Break</td> 
      <td></td>
    </tr>
    <tr>
      <td>10:00 - 12:00 pm</td>
      <td><b>Session P: Ion Beam Analysis-chaired by Mike Nastasi</b></td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>10:00 - 10:40</td>
      <td><b>Invited 188:</b> Channeling focused He+ ion beams</td> 
      <td>Karen L. Kavanagh</td>
    </tr>
    <tr>
      <td>10:30 - 11:00</td>
      <td>Abstract 72: Vacancy trapping in Au-hyperdoped Si by ion implantation and pulsed laser melting</td> 
      <td>Wenjie Yang, Naheed Ferdous, Peter J. Simpson, Quentin Hudspeth, Austin J. Akey, et al.</td>
    </tr>
    <tr>
      <td>11:00 - 11:20</td>
      <td>Abstract 161: Application of positron annihilation spectroscopy in investigations of the long range effect’s existence</td> 
      <td>P. Horodek, V. A. Skuratov</td>
    </tr>
    <tr>
      <td>11:20 - 11:40</td>
      <td>Abstract 115: Reducing and overcoming matrix effects in secondary ion mass spectrometry</td> 
      <td>Lars Breuer, Hua Tian, Nicholas J Popczun, A. Wucher, N. Winograd</td>
    </tr>
    <tr>
      <td>11:40 - 12:00 pm</td>
      <td>Abstract 78: Ion beam channeling in nanotubes</td>
      <td>J Napagoda, R Neupane, M Paulose, L Whitehead, OK Varghese, WK Chu</td>
    </tr>
    <tr>
      <td>12:10 - 2:00 pm</td>
      <td style="color: blue;">End of presentations and lunch on your own</td> 
      <td>Room Salon del Rey</td>
    </tr>
    <tr>
      <td>2:00 - 4:00 pm</td>
      <td style="color: blue;">Tour of Southewest Research Institute. You must registger for the tour at the registration desk.</td> 
      <td>Meet at the hotel entrance for transportation</td>
    </tr>
  </tbody>
</table>
