<% provide(:title, "Publication") %>
<h1><%= yield(:title) %></h1>
<br>
<h4><b>Full length paper submission opens: 1 MAY 2018
</b></h4>
<h4><b>Full length paper submission deadline: 15 AUG. 2018</b></h4>
<h4><%= link_to "Start Submission", abstract_submission_path, style: "color: red;" %></h4>
<br>

<h4><b>Proceedings</b></h4>
<p>Following the tradition of the conference, the proceedings of IBMM 2018 will be published as a regular volume of the journal “Nuclear Instruments and Methods B: Beam Interactions with Materials and Atoms”.  Invited talks as well as oral and poster contributions will be included in the conference proceedings. Before being accepted for publication, all submitted manuscripts will be peer reviewed according to international standards.
All fully registered participants will receive a complimentary printed copy of the full IBMM 2018 Proceedings.</p>
<h4><b>Guidelines</b></h4>
<ul>
    <li>The submission website for this journal is located at: <a target="_blank" href="http://ees.elsevier.com/nimb_proceedings/default.asp">http://ees.elsevier.com/nimb_proceedings/default.asp</a></li>
    <p>&nbsp;</p>
    <li>To ensure that all manuscripts are correctly identified for inclusion into the special issue you are editing, it is important that authors select SI: NIMB_IBMM 2017 when they reach the “Article Type” step in the submission process. Please make sure authors are given this instruction when you send out invitation letters and/or instructions to potential authors.</li>
    <p>&nbsp;</p>
    <li>General instructions on how to prepare a manuscript for NIMB can be found in this pdf document: <a target="_blank" href="https://custom.cvent.com/7D44ECD432654B6DA64826C592F01E88/files/a1e85b5b56104361911a8a9da43a480d.pdf">NIMB_Author_Information_Pack</a></li>
    <p>&nbsp;</p>
    <!-- <li>Specific guidelines for preparing an IBMM 2017 paper are summarized in the&nbsp;<a target="_blank" href="https://custom.cvent.com/7D44ECD432654B6DA64826C592F01E88/files/6a5f3ec7187944c5bb5569a970dad88d.doc">IBMM_2017_-_NIMB_Conference_template_AUTHOR'S_GUID</a>. In particular, this document includes a front page to be (mandatorily) added to your manuscript. Latex users should upload a pdf version of the cover page separately. </li>
    <p>&nbsp;</p> -->
    <li>The targeted maximum length for contributed papers is 4 printed journal pages, while invited papers are entitled to 8 printed journal pages. Authors should aim at a paper filling at least three published pages (extended abstracts are not accepted).</li>
    <p>&nbsp;</p>
    <li>All manuscripts submitted to the IBMM 2017 proceedings will be subject to the same high standard peer review as regular submissions to NIMB. It should be full and independent papers.</li>
    <p>&nbsp;</p>
    <li>The published work should be original and not published (or under consideration) anywhere else.</li>
    <p>&nbsp;</p>
    <li>The manuscript must be approved by all co-authors, all of whom have materially participated in the research and/or article preparation.</li>
    <p>&nbsp;</p>
    <li>Only contributions that were effectively presented at the conference by one of the authors can be considered.<br>
    <br>
    </li>
</ul>
