<% provide(:title, "Registration") %>

<h1><%= yield(:title) %></h1>
<ul>
  <li>
    The full registration fee covers the cost of conference bag, abstract book, NIMB proceeding copy, welcome reception, daily lunches, coffee break, field trip, and conference dinner
  </li>
  <li>
    The student registration fee covers the cost of items similar to the full registration, except for NIMB proceeding copy
  </li>
  <li>
    The accompany registration fee covers the cost of reception, field trip, and dinner. The accompany person has no access to technical sessions, unless under special conditions approved by Chairs
  </li>
</ul>

<h5>* required fields. Please refresh page if form doesn't display!</h5>
<div class="typeform-widget" data-url="https://tuanhoang2.typeform.com/to/RJTyJi" style="width: 100%; height: 500px;" > </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;" > powered by <a href="https://www.typeform.com/examples/?utm_campaign=RJTyJi&amp;utm_source=typeform.com-9570398-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
