<% provide(:title, "Invited Speakers") %>

<h1><%= yield(:title) %></h1>

<h5>Radiation defect dynamics in semiconductors studied by pulsed ion beams</h5>
<h5>Sergei O. Kucheyev, Lawrence Livermore National Laboratory</h5>
<br>
<h5>IAEA activities in support of Materials Research using Ion Beams</h5>
<h5>Aliz Simon, International Atomic Energy Agency</h5>
<br>
<h5>Ultrafast ion sieving with nuclear-track membranes</h5>
<h5>Yugang Wang, Peking University</h5>
<br>
<h5>Self-organization of helium precipitates into elongated channels and the potential consequences for damage-free outgassing of implanted helium from nanocomposite metals</h5>
<h5>Michael J Demkowicz, Texas A&M University</h5>
<br>
<h5>Light emission mechanisms induced by MeV ion irradiation in strontium titanate</h5>
<h5>Miguel Crespillo, The University of Tennessee</h5>
<br>
<h5>Multiscale modelling of structural modifications via electronic stopping power in 0D to 3D materials</h5>
<h5>Flyura Djurabekova, University of Helsinki</h5>
<br>
<h5>Channeling Focussed He+ Ion Beams</h5>
<h5>Karen L. Kavanagh, Simon Fraser University</h5>
<br>
<h5>Radiation damage and thin film stress in Si-implanted GaAs</h5>
<h5>Elke Wendler, Friedrich-Schiller-Universität Jena</h5>
<br>
<h5>Charge exchange and energy loss of slow highly charged ions transmitted through 2D materials</h5>
<h5>Richard A. Wilhelm, TU Wien, Institute of Applied Physics   & HZDR, Institute of Ion Beam Physics and Materials Research</h5>
<br>
<h5>High Dose Ion Irradiation Testing of Ferritic Steels</h5>
<h5>Stuart A. Maloy, Los Alamos National Laboratory</h5>
<br>
<h5>Defects tailored PEC and SERS properties of metal oxide semiconductor by ion beams</h5>
<h5>Feng Ren, Wuhan University</h5>
<br>
<h5>Ion beam modification of graphene material for photodector and resistive memory application</h5>
<h5>Zengfeng Di, Shanghai Institute of Microsystems</h5>
