<% provide(:title, "Sponsors") %>

<h1><%= yield(:title) %></h1>
<h5>The IBMM 2018 conference is sponsored by</h5>
<ul>
  <li>Texas A&M University</li>
  <li>University of Nebraska-Lincoln/Nebraska Center for Energy Sciences Research</li>
  <li>University of Tennessee at Knoxville</li>
  <li>Los Alamos National Laboratory</li>
  <li>International Atomic Energy Agency</li>
  <li>US Department of Energy, Basic Energy Science</li>
  <li>High Voltage Engineering Europa B.V. (HVE)</li>
</ul>
<div style="text-align: center;"><%= image_tag("placeholders/photos/sponsors.png", alt: "IBMM 2018 Sponsors") %></div>

<p>Sponsors would be provided with an exhibition space to advertise their products or capabilities.  Sponsorship will be acknowledged in on-line conference materials, abstract book and conference proceedings. Furthermore, up to one page advertisement is allowed in the abstract book.</p>
