<% provide(:title, "Venue") %>

<h1><%= yield(:title) %></h1>

<h4><b>HILTON PALACIO DEL RIO HOTEL</b></h4>
<%= image_tag("placeholders/photos/venue_1.png", alt: "Conference Venue Photo", style: "width: 100%") %>
<p style="margin-top: 20px;">Beautifully situated on the famous River Walk in downtown San Antonio, Hilton Palacio del Rio is surrounded by popular Texas attractions, including the Alamo.
</p>

<h4><b>At a glance:</b></h4>
<ul>
  <li>Ideally situated on the famous River Walk</li>
  <li>27,000 sqft of flexible meeting space</li>
  <li>Private balconies in every room</li>
  <li>Two rooftop ballrooms</li>
  <li>Four hotel restaurants and bars</li>
</ul>

<h4><b>First floor,  conference room (SALON DEL REY)</b></h4>
<%= image_tag("placeholders/photos/venue_2.png", alt: "Conference Venue Photo", style: "width: 100%") %>
<br><br>
<h4><b>Lunch place:  7th floor, room EL MIRADOR</b></h4>
<h4><b>Poster room: 7th floor, room LA VISTA</b></h4>
<%= image_tag("placeholders/photos/venue_3.png", alt: "Conference Venue Photo", style: "width: 100%") %>
<br><br>
