<section class="site-section site-section-light site-section-top">
    <div class="container text-center" style="opacity: 1; color: #ffffff; margin-bottom: 50px;">
        <p style="color: yellow; font-size: 50px;"><b>IBMM 2018</b></p>
        <h1 class="animation-slideDown"><strong>21st INTERNATIONAL CONFERENCE ON ION BEAM MODIFICATION OF MATERIALS</strong></h1>
        <h2 class="animation-slideDown"><strong>JUNE 24 – 29, 2018</strong></h2>
        <h4 class="animation-slideDown"><strong>SAN ANTONIO, TEXAS, USA</strong></h4>
    </div>
    <div class="container text-center">
    </div>
    <!-- <div class="container text-center" style="margin-bottom: 70px;">
        <h4 class="animation-slideDown"><strong>Abstract submission / Registration/ Hotel reservation / IBMM price nomination  OPEN after 1 Oct. 2017</strong></h4>
    </div> -->
</section>
