<section class="site-section site-section-light site-section-top">
    <div class="container text-center" style="opacity: 1; color: #ffffff;">
        <h1 class="animation-slideDown"><strong>21st INTERNATIONAL CONFERENCE ON ION BEAM MODIFICATION OF MATERIALS</strong></h1>
    </div>
    <div class="container text-center">
        <h3 class="animation-slideDown"><strong>29 JUN – 5 JUL, 2018 SAN ANTONIO, TEXAS, USA</strong></h3>
    </div>
</section>
